body{
    font-family: Roboto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 21px;

}
.logo :first-child{
    color: #4D5AE5;
}
.logo :last-child{
    color: #2E2F42;
}

.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li a{
    color: inherit;
    text-decoration: inherit;
}

address a{
    text-decoration: inherit;
    color: inherit;
}
